:root{
    --main-color:#ff9800;
}
*{
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 90%;
    padding: 0 15px;
    margin: auto;
}
/* start setting box */

.setting-box{
z-index: 99999;
position: fixed;
top: 0;
left: -20%;
width: 20%;
min-height: 100vh;
background-color: rgba(199, 194, 194, 0.9);
transition: all .3s;
} 
 .setting-box.open{
    left: 0;
} 
 .setting-box .tog {
position: absolute;
top: 20%;
right: -10%;
background-color: var(--main-color);
color: #fff;
text-align: center;
cursor: pointer;
width: 10%;
font-size: 18px;
}
/* i make width and padiing to icon not the elment 
becouse when i click on box the icon start spin
*/
 .setting-box .tog .sett{
padding:8px 0px;
width: 100%;

} 

.setting-container .option-box{
    padding: 10px;
    background-color: #eee;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.setting-container .option-box h2{
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1.7px;
}
.setting-container .option-box .colors-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
}

.setting-container .option-box .colors-list li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .7;
    transition: all .3s;
}
.setting-container .option-box .colors-list li:hover{
    opacity: 1;
}
.setting-container .option-box .colors-list li.active{
    opacity: 1;
}
.setting-container .option-box .colors-list li:first-child{
    background-color: #ff9800;
}
.setting-container .option-box .colors-list li:nth-child(2){
    background-color: #2196f3;
}
.setting-container .option-box .colors-list li:nth-child(3){
    background-color: #f44336;
}
.setting-container .option-box .colors-list li:nth-child(4){
    background-color: #4caf50;
}
.setting-container .option-box .colors-list li:nth-child(5){
    background-color:#795548;
}

.setting-box .option-box h3{
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1.7px;
}

.setting-box .option-box .yes,
.setting-box .option-box .no{
    width: 50px;
    background-color: #009688;
    color: #fff;
    padding: 3px 10px;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    opacity: .5;
    cursor: pointer;
}

.option-box .random-back span.active{
    opacity: 1;
}

.setting-box .rest{
    background-color: #f44336;
    border: none;
    width: 178px;
    margin: 12px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}


/* start nav bullets */

.nav-bullets{
    position: fixed;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 3;
}
@media screen and (max-width:768px) {
    .nav-bullets{
        display: none;
    }
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    margin: 20px auto;
    position: relative;
    transition: all 5s;
}
.nav-bullets .bullet:hover .tooltip{
    display: block;
   
}
.nav-bullets .bullet .tooltip{
    background-color: var(--main-color);
    color: #fff;
    position: absolute;
    top: -6px;
    right: 30px;
    padding: 6px 10px;
    width: 130px;
    text-align: center;
    text-transform: capitalize;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet .tooltip:before{
    content: '';
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent transparent var(--main-color);
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

/* start landing */

.landing-page{
min-height: 100vh;
background-image: url(../images/1.jpg);
background-position: center;
background-size: cover;
position: relative;
margin-bottom: 50px;
}
.overlay{
    background-color: rgba(0, 0, 0 , .61);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.header-area{
    z-index: 2;
    position: relative;
    color: #eae2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}
.header-area .logo{
width: 15%;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
letter-spacing: 1.9px;
font-size: 22px;
font-weight: bold;
}
.header-area .logo div{
    transition: all .5s;
}
.header-area .logo div:hover{
    /* color: var(--main-color); */
    cursor: pointer;
}
.header-area .links-container{
    width: 45%;
    margin-right: 5%;
    
}
.header-area .links-container .toggel-icon{
    text-align: right;
    display: none;
}
.header-area .links-container .toggel-icon i{
    cursor: pointer;
}

.header-area .header-list{

list-style: none;
display: flex;
justify-content: space-between;
font-size: 20px;
text-transform: capitalize;
}
.header-area .header-list a{
    text-decoration: none;
    color: #eae2e2;
}
.header-area .header-list li a{
    cursor: pointer;
    transition: all .5s;
}
.header-area .header-list li:hover a{
color: var(--main-color);
}

.header-area .header-list li.active a{
    color: var(--main-color) ;
}


.intro-text{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
    text-align: center;
}
.intro-text h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.intro-text h1 span{
    color: var(--main-color);
}
.intro-text p {
    line-height: 1.9;
    font-size: 20px;
}

/* start about section */
.about-us{
margin-bottom: 50px;    
padding: 50px 0;
display: flex;
}

.about-us .info{
    flex: 1;
    padding: 30px;
}
.about-us .info h2{
font-weight: bold;
font-size: 30px;
color: var(--main-color);

}
.about-us .info p{
line-height: 1.9;
color: #767676;
font-size: 17px;
}
.about-us .image-box{
flex: 1;
text-align: center;
}
.about-us .image-box img{
width: 100%;
}

/* start gallery section */

.gallery-head h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    text-transform: capitalize;
}
.items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}


.item{
    width:20%;
}
.item .img-item{
    padding: 10px;
}

.item .img-item img{
    width: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
    padding: 3px;
}

.light-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 999;
}

.light-item{
    margin:50px auto 0 ;
    width: 50%;
    height: 500px;
    background-image: url(../images/8.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.light-item i{
    cursor: pointer;
    margin: .5rem;
    font-size: 1.2rem;
    color: #fff;
}

#close{
    position:absolute;
    top: 10px;
    right: 10px;
}


/* start timeline section */

.time-line{
    background-color: #eee;
    padding: 50px 0;
    margin-bottom: 50px;
    position: relative;
}

.time-line::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 50%;
    bottom: 5%;
    width: 2px;
    height: 90%;
    background-color: var(--main-color);
}

.time-line .year{
    position: absolute;
    left: calc(50% - 25px);
    top: 5%;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    width: 50px;
    border-radius: 4px;
    text-align: center;
    padding: 2px 6px;
    z-index: 2;
}

.time-line .time-content{
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* circle 1 */
.time-content::before{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: #fff;
    position: absolute;
    left: calc(50% - 8px);
    top: 20%;
}

/* circle 2,4 */
.time-content::after{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: #fff;
    position: absolute;
    left: calc(50% - 8px);
    top: 60%;
}

.time-content .left{
    width: 47%;
    margin-top: 5% ;
    position: relative;
}

.time-content .right{
   margin-top: 20%;
    width: 47%;
    position: relative;
}

/* triangle 1 , 3 */
.time-content .left .content::before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    position: absolute;
    top: 25px;
    right: -20px;
}
/* tringle 1 , 3 right */
.time-content .right .content::before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent var(--main-color) transparent transparent;
    position: absolute;
    top: 15px;
    left: -20px;
}
.time-content .content {
    background-color: #fff;
    padding: 20px;
}
.time-content .content h3{
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 15px;
}
.time-content .content p {
    line-height: 1.9;
    color: #767676;
    font-size: 17px;
}

/* start featurs section */

.features{
   
   padding-top: 20px;
   margin-bottom: 50px;
}

.features h2{
text-align: center;
color: var(--main-color);
margin-bottom: 30px;
font-weight: bold;
font-size: 30px;
text-transform: capitalize;
}
.features-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features-item .feat{
    width: 30%;
   
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.feat .img-feat img{
    width: 30%;
    border-radius: 50%;
    border: 3px solid #e6e3e3;
    box-shadow: 2px -2px 20px rgba(0,0,0,0.3);
    box-shadow: -2px 2px 20px rgba(0,0,0,0.3);
}
.features-item .feat h3{
    font-size: 20px;
    margin: 15px 0 40px;
    position: relative;
    text-transform: capitalize;
}
.features-item .feat h3::before{
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}

.features-item .feat p {
    color:#706f6f;
}

/* start testimonials */

.testimonilas{
position: relative;
margin-bottom: 50px;
padding: 60px 0;
}
.testimonilas::before{
content: '';
position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: var(--main-color);
width: 50%;
}
.testimonilas::after{
content: '';
position: absolute;
top: 0;
right: 0;
height: 100%;
background-color: #333;
width: 50%;
}
.testimonilas h2{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.testimonilas h2 span{
    color: var(--main-color);
}


.testimonilas .slider {
    display: flex;
    padding-top: 50px;
    position: relative;
    z-index: 2;
}

.review-box {
    width: 70%;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: auto;
}
.review-box .change .card{
    background-color: var(--main-color);
}

.card {
    padding: 20px;
    color: #777;
    background: #f8f9fa;
    position: relative;
}
.card.change{
    background-color: var(--main-color);
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.profile img {
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.card .loc {
    display: flex;
}

.card .loc h5 {
    font-size: 16px;
    margin: 0;
}

.card .loc img {
    width: 20px;
}

.card p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 2px;
    color: #888282;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
} 
.card p.change{
    color: #fff;
}



/* start contact us */

.contact{
    background-image: url(../images/map.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 80px 0px;
}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0 , .6);
    width: 100%;
    height: 100%;
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 60px;
    color: var(--main-color);
}
.contact form{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.contact form .left{
    width: 49%;
}
.contact form .right{
    width: 49%;
}
.contact form .left input,
.contact form .right textarea{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgb(183, 162, 162 , .3);
    
}
.contact form input::placeholder,
.contact form textarea::placeholder
{
    color: #fff;
    text-transform: capitalize;
    font-weight:700;
}
.contact form .left input:focus,
.contact form .right textarea:focus{

    outline: 1px solid var(--main-color);
}
.contact form .left input:focus::placeholder,
.contact form .right textarea:focus::placeholder{
opacity: 0;
transition: .5s;
}
.contact form textarea{
    height: 150px;
    resize: none;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
}

/* button to top */

.up{
    position: fixed;
    bottom: 80px;
    right: -30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  font-size: 20px;
  padding: 5px;
    z-index: 2;
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    transition: all .3s;
}
.up.show{
    right: 15px;
}
.up i{
    cursor: pointer;
}

/* start footer */

.footer{
    background-color: #222;
    color: #eee;
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    font-size: 20px;
}
.footer div span{
    color: var(--main-color);
    font-size: 25px;
}



/* start responsive */

/* main container */

@media screen and (min-width:576px) {
    .container{
        width: 90%;
    }
}

/* setting box section */

@media screen and (max-width:1200px) {

    .setting-box{
        width:30%;
        left: -30%;
    }
} 
@media screen and (max-width:768px) {

    .setting-box{
        width:40%;
        left: -40%;
    }
} 

@media screen and (max-width:576px) {
    .setting-box{
        width:50%;
        left: -50%;
    }
    .setting-container .option-box h2{
        font-size: 20px;
    }
}


/* nav links section */

@media screen and (max-width:991px) {
    .header-area .links-container .toggel-icon{
        display: block;
    }
    .header-area{
        position: relative;
        z-index: 999999999999999;
    }
    .header-area .header-list{
        display: none;
    }
    .header-area .header-list.open{
        background-color: rgba(255, 255, 255 , .7);
        padding: 0px;
        display: block;
        position: absolute;
        right: 10px;
        top: 35px;
        width: 20%;
        border-radius: 4px;
        text-align: right;
    }
    .header-area .header-list.open li{
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-area .header-list.open li a{
        transition: all .4s;
       
    }
    
    .header-area .header-list.open li a:hover{
        color: var(--main-color);
        margin-right: 2%;
    }
    
}
/* intro section */

@media screen and (max-width:992px) {
    .intro-text{
        width: 90%;
    }
}
@media screen and (max-width:576px) {
    .header-area .links-container .header-list.open{
        width: 30%;
    }
    .intro-text{
        width: 98%;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 17px;
        line-height: 2;
    }
}

/* about us section */
@media screen  and (max-width:768px){
    .about-us{
        display: block;
        text-align: center;
        padding: 0;
    }

}

@media screen  and (max-width:576px){

    .about-us .info h2{
        font-size: 25px;
    }
    .about-us .info p{
        width: 100%;
        font-size: 18px;
    }
    
}
/* gallery section */
@media screen and (max-width:768px) {
    
    .items .item{
        width: 50%;
    }
}

@media screen and (max-width:576px) {
    .gallery-head h2{
        font-size: 25px;
    }
    .items .item{
        width: 100%;
    }
}

/* timline section */

@media screen and (max-width:768px) {

    .time-line::before{
        top: 3%;
    }
    .time-line .year{
        top: 5%;
    }
    .time-line .year.second{
        top: -24%;
    }
    .time-line .time-content{
        display: block;
    }
    .time-content::after{
        top: 50%;
    }
    .time-content::before{
        top:-80px;
    }

    .time-content .left, 
    .time-content .right{
        width: 100%;
        margin-top: 30%;
    }
    .time-content .left .content{
        width: 100%;
    }
    .time-content .right .content{
        width: 100%;
    }

    .time-line .time-content .left .content::before{
        border-color: transparent transparent var(--main-color) transparent;
        top: -20px;
        right: calc(50% - 10px);
    }
    .time-line .time-content .right .content::before{
    border-color: transparent transparent var(--main-color) transparent;
    top: -20px;
    left: calc(50% - 10px);
    }
}

@media screen and (max-width:576px){
    .time-line::before{
        top: 1%;
    }
    .time-line .year{
        top: 2%;
    }
    .time-content::after , .time-content::before{
        
        display: none;
    }
    .time-line .year.second{
        top: -10%;
    }
}

/* features section */

@media screen and (max-width:768px) {
    .features-item .feat{
        width: 50%;
    }
}
@media screen and (max-width:576px) {
    .features-item .feat{
        width: 100%;
    }
    .feat .img-feat img{
        width: 20%;
    }
}
/* testimonilas sec */

@media screen and (max-width:768px) {
    
    .testimonilas .slider{
        display: block;
    }
    .review-box{
        width: 95%;
        margin-bottom: 25px;
    }
}

/* contact us */

@media screen and (max-width:768px) {
    .contact form{
        display: block;
    }
    .contact form .left,
    .contact form .right{
        width: 100%;
    }
    
}
